h1 {
    font-family: Cursive;
    font-size: 20px;
    text-align: center;
}

#header {
    border-radius: 5px;
    background-color: #bbbbbb;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}

#footer {
    border-radius: 5px;
    clear: both;
    background-color: #cccccc;
    height: 10%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.menu {
    list-style: main;
    float: left
    padding: 10px;
}

.left {
    border-radius: 5px;
    float: left;
    background-color: #aaaaFF;
    height: 50%;
    width: 70%;
    border-style: solid;
    margin: 5px;
}

.right {
    border-radius: 5px;
    float: left;
    background-color: #9999ff;
    height: 50%;
    width: 20%;
    border-style: solid;
    margin: 5px;
}
