h1 {
    font-family: Cursive;
    font-size: 20px;
    text-align: center;
}

#header {
    border-radius: 5px;
    background-color: #bbbbbb;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-style: solid;
}

#footer {
    border-radius: 5px;
    clear: both;
    background-color: #cccccc;
    height: 10%;
    width: 100%;
    border-style: solid;
}

.menu {
    list-style: main;
}

.left {
    border-radius: 5px;
    float: left;
    background-color: #aaaaFF;
    height: 80%;
    width: 50px;
    border-style: solid;
}

.right {
    border-radius: 5px;
    float: right;
    background-color: #9999ff;
    height: 80%;
    width: 25px;
    border-style: solid;
}
