h1 {
    font-family: Cursive;
    font-size: 20px;
    text-align: center;
}

#header {
    background-color: #bbbbbb;
    height: 50px;
    width: 90%;
    /* z-index: 1; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 10px;
}

#footer {
    clear: both;
    background-color: #cccccc;
    height: 10%;
    width: 90%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.menu {
    list-style: none;
    padding: 10px;
}

.background {
    background-color: #aaaaff;
}

.left {
    /* border-radius: 5px;*/
    float: left;
/*    background-color: #aaaaFF; */
    width: 35em;
    border-right-style: solid;
    border-color: black;
}

.right {
    /* border-radius: 5px;*/
    float: left;
/*    background-color: #9999ff; */
    width: 35em;
    /* border-style: solid; */
    margin: 5px;
}
